body{
    margin:0;
    padding:0;
    background:#0f172a;
    font-family:Arial;
    color:white;
}

.container{
    text-align:center;
    padding:50px;
}

h1{
    font-size:50px;
    color:cyan;
}

.subtitle{
    font-size:22px;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.card{
    background:#1e293b;
    padding:25px;
    width:220px;
    border-radius:15px;
    transition:0.3s;
    box-shadow:0 0 15px rgba(0,255,255,0.2);
}

.card:hover{
    transform:translateY(-10px);
    background:#334155;
}

.card h2{
    color:cyan;
}

.pipeline{
    margin-top:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
}

.step{
    background:cyan;
    color:black;
    padding:15px 25px;
    border-radius:10px;
    font-weight:bold;
}

.arrow{
    font-size:30px;
}